/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 200vh;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes show-menu-action {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes hide-menu-action {
  from {
    display: block;
  }
  to {
    scale: 0;
    display: none;
  }
}
nav {
  display: flex;
  align-items: center;
  background-color: #0D0D0D;
  position: fixed;
  width: 100%;
  z-index: 2;
  color: whitesmoke;
}

.logo {
  flex-basis: 70%;
  padding-left: 20px;
  font-size: 1.8rem;
}

.menu {
  flex-basis: 30%;
  text-align: right;
  padding-right: 20px;
}

.material-icons {
  color: inherit;
  font-size: 3rem;
  cursor: pointer;
}

.navigation {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: #0D0D0D;
  animation: hide-menu-action 0.5s;
  color: whitesmoke;
}
@media screen and (min-width: 680px) {
  .navigation {
    width: 50%;
  }
}
@media screen and (min-width: 1100px) {
  .navigation {
    width: 25%;
  }
}
.navigation .material-icons {
  color: whitesmoke;
  position: absolute;
  right: 10px;
  top: 10px;
}
.navigation ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation li {
  flex-basis: 10%;
  width: 100%;
}
.navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition-duration: 0.5s;
  font-size: 140%;
}
.navigation a:hover {
  background-color: rgba(166, 115, 96, 0.6705882353);
}

.showMenu {
  display: block;
  animation: show-menu-action 0.5s;
}

@keyframes show-header-box {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  height: 100vh;
  background: url("../assets/img/bg-header.webp") center/cover fixed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-box {
  z-index: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  animation: show-header-box 3s;
}
header h1 {
  font-size: 2rem;
  line-height: 3.6rem;
  margin-bottom: 50px;
}
@media screen and (min-width: 680px) {
  header h1 {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1100px) {
  header h1 {
    font-size: 5.4rem;
    line-height: 4.8rem;
  }
}
header p {
  margin-bottom: 40px;
  width: 90%;
  line-height: 2.2rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 680px) {
  header p {
    width: 60%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1100px) {
  header p {
    width: 50%;
  }
}
header a {
  text-align: center;
  text-decoration: none;
  line-height: 60px;
  color: inherit;
  font-weight: bolder;
  font-size: 110%;
  width: 200px;
  height: 60px;
  background-color: rgba(166, 115, 96, 0.6705882353);
  border-radius: 6px;
  transition: 0.5s;
}
header a:hover {
  background-color: #A67360;
  transform: translateX(10px);
}
header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
