header {
    height: 100vh;
    background: url('../assets/img/bg-header.webp') center/cover fixed;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
       font-size: 2rem;
       text-align: center;
       line-height: 2.4rem; 

       @media screen and (min-width: 680px) {
            font-size: 3.4rem; 
       }
       
       @media screen and (min-width: 1100px) {
            font-size: 5.4rem; 
       }
    }
}