// @mixin box($w, $h, $c: red) {
//     width: $w;
//     height: $h;
//     background-color: $c;
//     border: 1px solid green;
// }

// @mixin box {
//     @content;
// }

@mixin md-screen {
    
    @media screen and (min-width: 680px) {
        @content; 
    }

}

@mixin lg-screen {

    @media screen and (min-width: 1100px) {
        @content; 
    }

}
